body {
    font-family: 'roboto';
   /* display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;*/
}


.header{
    display:flex;
    flex-direction: row;
    
    background-color: #1f2937;
    align-items: center;
    justify-content: space-around;
    
    
}

.hero{
    display:flex;
    background-color: #1f2937;
    padding:4px 96px;
    justify-content: space-between;
    margin-bottom: 50px;
    
}

.hero-text{
    font-size: 18px;
    color:#e5e7eb;
}

.button{
    background-color: #3882f6;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
}


h1{
    color:#f9faf8;
    font-size: 48px;
    font-weight: 800;
    padding:0;
    margin:0;
}

.logo{
    font-size:24px;
    color:#f9faf8;
    
}

.right-side{
    display:flex;
    flex-direction:row;
    /*padding-right: 80px;*/
    font-size:18px;
    color:#e5e7eb;
    
}

.right{
    display:flex;
    margin-right:300px;
}

.cards{
    display:flex;
    justify-content: center;
    gap: 52px;
}

.info-text{
    max-width:200px;
}

.inf-head{
    display:flex;
    justify-content:center;
    color:#1f2937;
    font-size: 36px;
    font-weight: 800;
}

.second{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
}


.quote{
    font-size: 36px;
    font-weight: light;
    font-style:italic;
    max-width: 500px;
    
    
}

.third{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.fourth-child{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color:white;
    padding: 50px;
    border-radius: 5px;
}


.fourth{
    
    display:flex;
    justify-content: center;
    align-items:center ;
    
    
}

.fRight{
    border:2px solid white;
    padding: 5px;
    border-radius: 5px;
}



